%html
  %head  
    %link{:rel => 'stylesheet', :href => '/public/styles/main.css', :type => 'text/css'}
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title isbn2bibtex :: Fetch BibTeX record from ISBN number
  %body
    #container
      #header
        %a{ :href => '/about' } about
      %form{ :method => "post", :action => "/" }
        #search
          %input{ :type => "text", :name => "isbn", :size => 66}
          %input{ :type => "submit", :value => "Look up"}
          %select{ :name => "choice" }
            %option view 
            %option download
          / %br
          / %table#options
          /   %tr
          /     %td 
          /       give me the BibTeX file right away to download
          /     %td 
          /       %input{ :type => "checkbox", :id => "download", :checked => true }          
      = yield
