%html
  %head  
    %link{:rel => 'stylesheet', :href => '/public/styles/main.css', :type => 'text/css'}
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title isbn2bibtex :: Fetch BibTeX record from ISBN number
  %body
    #container
      #header
        / %a{ :href => '/fuq' } fuq
      #search
        
      = yield
